@import "tailwindcss";

:root {
  color-scheme: light;
  --background: #fdfbf7;
  /* Warm off-white */
  --foreground: #2a2a2a;
  /* Soft charcoal */
  --primary: #2a2a2a;
  --secondary: #6b6b6b;
  --border: #e5e5e5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-border: var(--border);
  --font-heading: var(--font-playfair);
  --font-body: var(--font-lora);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body), serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading), serif;
}